<div class="content-body">
  <div class="toolbar" role="banner">
    <button class="header-btn" (click)="hideInputValue()">
      <img src="../assets/Action Labs.png" alt="Actions Lab Logo">
    </button>
  </div>
  <hr class="content-hr">

  <div class="content" role="main">
    <div class="content-title">
      BRL Exchange Rate
    </div>

    <div class="content-currency form-group">
      <label for="currency-input" class="form-label">Enter the currency code</label>
      <input id="currency-input" class="currency-input" (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)" />
    </div>

    <div class="vertical-center">
      <button class="content-button" (click)="showInputValue()">Exchange Result</button>
    </div>

    <hr class="content-hr">

    <div class="rate-now">
      <app-rate-now *ngIf="showComponents"></app-rate-now>
    </div>

    <div class="last-days">
      <app-last-days *ngIf="showComponents"></app-last-days>
    </div>

    <div class="footer">
      <div class="footer-text">Copyright 2023 - Action Labs</div>
    </div>
  </div>

</div>
