<div class="toolbar" role="banner">
  <img src="../assets/Action Labs.png" alt="Actions Lab Logo">
</div>

<hr class="content-hr">


<div class="content align" role="main">
  <div class="content-title">
    BRL Exchange Rate
  </div>

  <div class="content-currency vertical-center">
    <input id="exchange" class="currency-input align-horizontal" placeholder="Enter the currency code" [(ngModel)]="currencyValue">
  </div>

  <div class="vertical-center align-horizontal">
    <button class="content-button" (click)="showInputValue()">Exchange Result</button>
  </div>
</div>

  <hr class="content-hr margin">

  <app-rate-now *ngIf="showComponents"></app-rate-now>
  <app-last-days *ngIf="showComponents"></app-last-days>


  <div class="footer">
    <div class="footer-text">Copyright 2023 - Action Labs</div>
  </div>
